

.title{
  font-size: 100px;
  font-family: 'Merienda One', cursive; 
  color: #83395b; 
  transition: all 1s;
  text-align: left;
}

.title:hover{
  color: #c07f93;
}

  
.annot  {
  /* font-family: 'Handlee', cursive; */
  font-family: 'Merienda One', cursive; 
  font-size: 30px;
  color: #e6c5d2;
  transition: all 1s;
  text-align: right;
}

.annot:hover{
  color: #83395b; 
}
  