

.title{
  font-size: 100px;
  font-family: 'Merienda One', cursive; 
  color: #83395b; 
  transition: all 2s;
  text-align: left;
}

.title:hover{
  color: #0c0b0b;
}

  
.annot  {
  /* font-family: 'Handlee', cursive; */
  font-family: 'Merienda One', cursive; 
  font-size: 30px;
  color: #f1eaed;
  transition: all 1s;
  text-align: right;
}

.annot:hover{
  transform: rotate(20deg)
}
  