/* .page{ 
    background-image: url("./bg.jpeg");
    background-size: 100% 100%; 
    background-color: chocolate; 
} */

.head{
    text-align: center;
    background-color: bisque;
    margin: 3%;
    padding: 2%;
}

.subtitle {
    font-family: 'Merienda One', cursive;  
    font-size: 40px;
}

.panelline{
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}
.panel{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.faded{
    opacity: 50%;
    font-size: 1em;
}


