.page{ 
    /* background-image: url("./bg.jpeg");
    background-size: 100% 100%;  */
    background-color: #983351; 
}

.head{
    text-align: center;
    background-color: #4C0017;
    margin: 3%;
    padding: 2%;
}

.subtitle {
    font-family: 'Merienda One', cursive;  
    font-size: 40px;
    color: #4C0017;
}

.panelline{
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}
.panel{
    background-color: #E498AF;
    padding: 15px;
    margin: 15px;
    transition: all 1s;
}

.panel:hover{
    transform: scale(1.05);
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.faded{
    opacity: 50%;
    font-size: 15px;
}


